extends ./layouts/layout.pug
    
block main
    section.tiser__container 
        include ./blocks/index/tiser.pug
    section.benefits__container 
        include ./blocks/index/benefits.pug
    section.services__container 
        include ./blocks/index/services.pug
    section.servicesSlider__container
        include ./blocks/index/servicesSlider.pug
    section.specialists__container 
        include ./blocks/index/specialists.pug
    section.reviews__container 
        include ./blocks/index/reviews.pug
    section.about__container 
        include ./blocks/index/about.pug
    section.map__container 
        include ./blocks/index/map.pug

