extends ./layouts/layout.pug
    
block main
    .modalLicense 
        .modalLicense__main 
            .modalLicense__close закрыть 
            .modalLicense__body
                img.modalLicense__img 

    .licenses__container
        .licenses
            p.licenses__breads.breads 
                    a(href="/") главная
                    span /лицензии
            main.licenses__body 
                - 
                    const photos = [
                        "../../assets/images/licenses/330/001.jpg",
                        "../../assets/images/licenses/330/002.jpg",
                        "../../assets/images/licenses/330/003.jpg",
                        "../../assets/images/licenses/330/004.jpg",
                    ]
                each i,idx in photos 
                    .licenses__img(data-id= idx) 
                        img(src=i alt="лицензия")