extends ./layouts/layout.pug
    
block main
    section.specialistsPage__container
        .specialistsPage
            p.specialistsPage__breads.breads 
                a(href="/") главная
                span /услуги стоматологии
            ul.specialistsPage__list
                each i in specialists.staff
                    li.specialistsPage__item
                        .specialistsPage__img
                            img(src=i.img, alt="coworker")
                        .specialistsPage__content
                            h2.specialistsPage__post= i.post
                            .specialistsPage__name= i.name