.modal
    .modal__body 
        .modal__close Закрыть
        form.modal__form 
            input.modal__input.modal__name(type="text" placeholder="Имя" name="name")
            input.modal__input.modal__phone(type="tel" placeholder="Телефон" name="phone")
            .modal__check
                input.modal__input.modal__agree(type="checkbox" name="agree")
                .modal__plug
                label Я согласен на обработку моих персональных данных 
            button.modal__submit Отправить

