include ../../mixins/svg.pug

.reviews 
    article#splideReview.splide
        .splide__track
            ul.splide__list
                each i in reviews
                    //- p welcome
                    li.splide__slide 
                        .review 
                            .stars__container 
                                each star in new Array(i.stars).fill(null) 
                                        .stars__item
                                            +svg("","star")
                            .review__text= i.text 
                            .review__phone= i.tel
                