.services 
    each i in services 
        .services__card
            img(src=i.img alt=i.name)
            .services__form 
                .services__title=i.name 
                .services__controls 
                    button.services__details Подробнее
                    button.services__book Записаться