.specialists 
    .specialists__content
        h2.specialists__title= specialists.title
        each i in specialistsIndex.text 
            p.specialists__text= i 
        button.services__details Подробнее
    img.specialists__img(src=specialistsIndex.img alt="специалист")