.tiser
    article#splideTiser.splide
        .splide__track
            ul.splide__list
                each i in tiser
                    li.splide__slide 
                        .tiser__wrapper
                            .tiser__block
                                each j in i.text
                                    p.tiser__text= j
                        img.tiser__img(src=i.img alt="tiser")