.modal
    &__container
        position: fixed
        inset: 0
        background: #0009
        z-index: 11

    &__body
        background: #C9DCE2
        border-radius: 15px
        margin: 1rem
        display: flex
        justify-content: center
        align-items: center
        max-width: 673px
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%,-50%)

    &__input
        display: block

    &__close
        position: absolute
        top: 25px
        right: 30px
        font-size: 14px

    &__form
        display: flex
        flex-direction: column
        padding: 10.401189vw 25.854383vw
