.specialistsPage
    font-family: Sansation, sans-serif
    max-width: 1342px
    margin: 0 auto

    &__list
        display: flex
        flex-wrap: wrap
        column-gap: 2.291667vw
        row-gap: 2.604167vw

    &__item
        flex: 1 1 40%
        display: grid
        grid-template-columns: repeat(2, 1fr)

    &__post
        font-size: 36px
        color: #01688C
        padding: 0
        margin-bottom: 20px
        text-transform: uppercase

    &__name
        font-size: 20px

    &__img
        & > img
            width: 100%
            border-radius: 15px

    &__content
        margin-left: 30px
        display: flex
        flex-direction: column
        justify-content: flex-end

    &__container
        margin-bottom: 152px

    &__breads
        margin: 30px 0 77px
