@import "./_fonts"
@import "./_imports"

*,*::before,*::after
    box-sizing: border-box

body
    font-family: Sansation, sans-serif
    margin: 0
    padding: 0

button
    border: 1px solid #8AB6A9
    border-radius: 30px
    padding: clamp(13px,0.8333333333333334vw,16px) clamp(13px,2.5520833333333335vw,49px)
    background: transparent
    cursor: pointer
    font-size: clamp(12px,8.33vw,16px)
    white-space: nowrap

a
    text-decoration: none
    color: #000
    cursor: pointer
