include ../mixins/submenu
include ../mixins/svg

.footer__container 
    .footer 
        a.footer__logo(href="/") 
            img(src="../../assets/images/logo/logoWhite.png" alt="logo")
        main.footer__nav 
            ul.footer__menu 
                each i in footer 
                    if i.submenu
                        li.footer__item
                            +submenu(i)
                    else 
                        li.footer__item 
                            a.footer__link(href=i.href)= i.name
        footer.footer__contacts 
            a.footer__address(href="#")
                .footer__icon  
                    +svg("","location-white")
                p= common.address
            a.footer__phone(href="tel:"+ common.phone)
                .footer__icon 
                    +svg("","phone-white")
                p= common.phone
            a.footer__email(href="mailto:"+ common.email)
                .footer__icon 
                    +svg("","email-white")
                p= common.email
    .ruws__container
        a.ruws(href="https://russiaws.ru/") 
            p Разработано
            img(src="../../assets/svg/ruws.svg" alt="ruws logo")